h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bookFormButton {
    display: flex;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
}

form>input {
    margin-right: 20px;
    font-size: 15px;
}

form>label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 500;
}

#addBookButton {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: blue;
    border: 0;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

#library {
    display: grid;
    border-style: solid;
    padding: 10px;
    font-size: 25px
}

#library>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#library>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.libraryHeading {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 10px;
    padding-left: 10px;
}

.libraryHeading>h3 {
    display: flex;
    margin: auto;
    color: white;
}